#event_list > .item {
    /*border: 1px solid rgba(0,0,0,.3);*/
}

html {
    overflow: auto;
}

body {
}

.ui.piled.segments.card {
    z-index: 1;
}

#match_wrapper {
    height: 550px;
}

#match_wrapper .ui.segments.card {
    transition: .7s ease-in-out;
    animation: fadeInFromNone 0.5s ease-out;
    width: auto;
    top: 20px;
    left: 20px;
    right:20px;
    position: absolute;
}

#match_wrapper .ui.segments.card.denying {
    transform: translateX(-140%) rotate(-10deg) scale(.7);
    opacity: 0;
}

#match_wrapper .ui.segments.card.allowing {
    transform: translateX(140%) rotate(10deg) scale(.7);
    opacity: 0;
}

#match_wrapper .ui.segments.card.showing {
    transform: scale(.7);
    opacity: 0;
}

#match_list .ui.grid {
    overflow: hidden;
}

#match_list .card{
    width: 100%;
}

#user_cards {
    overflow: hidden;
}

#allow_button,
#deny_button {
    transform: scale(2);
}

#new_matches_counter {
    display: none;
}