<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Приложение для поиска компании</title>
    <link type="text/css" rel="stylesheet" href="{% static "css/style.css" %}">
    <script type="text/javascript" src="{% static "js/underscore.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/semantic.css" %}">
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="{% static "js/semantic.js" %}"></script>
    <script type="text/javascript" src="https://vk.com/js/api/xd_connection.js?2"></script>
    <script type="text/javascript" src="{% static "js/script.js" %}"></script>
    <script type="text/javascript">
        var CSRF_TOKEN = $("{% csrf_token %}").attr('value');
    </script>
</head>
<body>
{% verbatim %}
<template id="counter_template">
    <p class="likes" data-counter="{{= likes }}"><i class="icon user"></i>{{= likes }}</p>
</template>
<template id="event_label">
    <a class="ui red left corner label">
        <i class="{{= icon }} icon"></i>
    </a>
</template>
<template id="event_template" type="text/template">
    <div class="item event" data-liked="{{= liked }}">
        <div class="grid ui">
            <div class="five wide column">
                <div class="ui fluid image">
                    <img src="{{= image_url }}">
                    {{= label }}
                </div>
            </div>
            <div class="seven wide column">

                <a class="header">{{= name }}</a>
                <div class="meta">
                    <span>#концерт</span>
                </div>
                <div class="description">
                    <p>{{= description }}</p>
                </div>
            </div>
            <div class="four wide column">
                <p><i class="icon calendar"></i>{{= date }}</p>
                <p><i class="icon hourglass empty "></i>{{= time }}</p>
                <p class="likes" data-counter="{{= likes }}"><i class="icon user"></i>{{= likes }}</p>
                <button class="ui primary button icon labeled subscribe_to_event" data-event-id="{{= event_id }}">
                    <i class="heart icon"></i>
                    Я пойду!
                </button>
            </div>
        </div>
    </div>
</template>
<template id="user_card_template">
    <div class="ui card segments user_card" data-user-id="{{= user_id }}">
        <div class="blurring dimmable image">
            <div class="ui dimmer transition hidden">
                <div class="content">
                    <div class="center">
                        <div class="ui inverted button">Add Friend</div>
                    </div>
                </div>
            </div>
            <img src="{{= avatar_url }}">
        </div>
        <div class="content">
            <div class="header">{{= name }}</div>
            <div class="meta">
                <a class="group">Pundit</a>
            </div>
        </div>
        <div class="extra content">
            <a class="right floated created">
                Joined in 1998
            </a>
            <a class="friends">
                <i class="user icon"></i>
                22 Friends
            </a>
        </div>
    </div>
</template>
<template id="match_card_template">
    <div class="six wide column">
        <div class="ui card segments">
            <div class="blurring dimmable image">
                <div class="ui dimmer transition hidden">
                    <div class="content">
                        <div class="center">
                            <div class="ui inverted button">Add Friend</div>
                        </div>
                    </div>
                </div>
                <img src="{{= avatar_url }}">
            </div>
            <div class="content">
                <a class="header" target="_parent" href="https://vk.com/write{{= user_id }}">{{= name }}</a>
                <div class="meta">
                    <a class="group">Pundit</a>
                </div>
            </div>
            <div class="extra content">
                <a class="right floated created">
                    Joined in 1998
                </a>
                <a class="friends">
                    <i class="user icon"></i>
                    22 Friends
                </a>
            </div>
        </div>
    </div>
</template>
{% endverbatim %}

<div class="ui pointing menu" id="menu">
    <a class="item" data-toggle-href="event_list">
        <i class="icon tasks"></i>Предстоящие события
    </a>
    <a class="item" data-toggle-href="match_list">
        <div class="floating ui red label" id="new_matches_counter"></div>
        <i class="icon users"></i>Встречи
    </a>
    <a class="item" data-toggle-href="settings">
        <i class="icon setting"></i>Настройки
    </a>
    <div class="right menu">
        <div class="item">
            <div class="ui transparent icon input">
                <input type="text" placeholder="Search...">
                <i class="search link icon"></i>
            </div>
        </div>
    </div>
</div>


<div class="ui segment container">
    <div class="ui unstackable items divided toggled-tab" id="event_list">
    </div>
    <div class="toggled-tab ui" id="match_list">
            <div class="ui grid centered">
        </div>
    </div>
    <div class="toggled-tab" id="settings">
        kek
    </div>
</div>

<div class="ui modal" id="modal_user_cards">
    <i class="close icon"></i>
    <div class="header">
        Profile Picture
    </div>
    <div class="ui" id="user_cards">
        <div class="ui grid">
            <div class="ui four wide column middle aligned content center aligned">
                <button class="ui circular icon big button red" id="deny_button">
                    <i class="icon remove"></i>
                </button>
            </div>
            <div class="eight wide column" id="match_wrapper">
            </div>
            <div class="ui four wide column middle aligned content center aligned">
                <button class="ui circular big icon button blue" id="allow_button">
                    <i class="icon like"></i>
                </button>
            </div>
        </div>
    </div>
</div>
</body>
</html>